@using ClockUniverse.Models;
@model ProductTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        width: 362px;
        margin-left: 125px;
    }
    .ribbon-wrapper {
        right: 349px;
    }
    .tong {
        width: 201px;
        height: 48px;
        background: #007bff;
        color: white;
        margin-top: 23px;
        border-radius: 6px;
        font-size: 31px;
    }
    i.fas.fa-shopping-cart {
        margin-top: 10px;
        margin-left: 22px;
    }
    input#btnGioHang {
        margin-top: -10px;
        font-size: 17px;
    }

</style>

    <div class="container">
        <div id="content">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-8">
                            <img src="@Url.Content("~/productmanager/Image/"+Model.Watch_ID)" alt="" style="width: 363px;height: 400px;">
                        </div>
                        <div class="col-sm-4">
                            <div class="single-item-body">
                                <p class="single-item-title">@Model.Watch_Name</p>
                                @if (Model.Original_Price < Model.Selling_Price)
                                {
                                    <p class="single-item-price">
                                        <span>@Model.Selling_Price</span>
                                    </p>
                                }
                                else
                                {
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <p class="single-item-price">
                                        <span class="flash-del">@Model.Original_Price</span>
                                        <span class="flash-sale">@Model.Selling_Price</span>
                                    </p>
                                }

                            </div>
                            <div class="clearfix"></div>t
                            <div class="space20">&nbsp;</div>
                            <div class="single-item-desc">
                                @if (Model.InStock > 0)
                                {<p>
                                Còn hàng
</p>
                                }
                                else {
                                    <p>
                                        Hết hàng
                                    </p>
                                }</div>
                            <div class="single-item-desc">
                                <p>@Model.Watch_Static</p>
                            </div>
                            <div class="space20">&nbsp;</div>
                            <p>Số lượng:</p>
                            <div class="single-item-options">

                                @using (Html.BeginForm("addShoppingCart", "ShoppingCart", new { @iMaSP = Model.Watch_ID, @strUrl = Request.Url.ToString() }))
                                {

                                    @Html.TextBox("txtSoLuong", 1, new { type = "number" })
                                    @Html.ValidationMessage("txtSoLuong")
                                
                                    <i class="fas fa-shopping-cart"></i>
                                    if (Model.InStock <= 0)
                                    {
                                        <input type="submit" value="CHỌN MUA" id="btnGioHang" class="btn btn-primary btn-lg disabled" onclick=" confirm('sản phẩm hết hàng');" />
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ShoppingCart", "ShoppingCart")" class="tong">
                                            <input type="submit" value="CHỌN MUA" id="btnGioHang" class="btn btn-primary btn-lg" />
                                        </a>
                                    }


                                }

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="space40">&nbsp;</div>
                    <div class="woocommerce-tabs">
                        <ul class="tabs">
                            <li><a href="#tab-description">Description</a></li>
                            <li><a href="#tab-reviews">Reviews (0)</a></li>
                        </ul>
                        <div class="panel" id="tab-description">
                            <p>@Model.Watch_Description</p>
                        </div>
                        <div class="panel" id="tab-reviews">
                            <p>No Reviews</p>
                        </div>
                    </div>
                    <div class="space50">&nbsp;</div>
                </div>
            </div>
        </div> <!-- #content -->
    </div> <!-- .container -->
    <!-- #footer -->
    <!-- .copyright -->
    <!-- include js files -->

    <script type="text/javascript">
        $(document).ready(function () {
            $(".numberinput").forceNumeric();
        });

        // forceNumeric() plug-in implementation
        jQuery.fn.forceNumeric = function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.which || e.keyCode;

                    if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                        // numbers
                        key >= 48 && key <= 57 ||
                        // Numeric keypad
                        key >= 96 && key <= 105 ||
                        // comma, period and minus, . on keypad
                        key == 190 || key == 188 || key == 109 || key == 110 ||
                        // Backspace and Tab and Enter
                        key == 8 || key == 9 || key == 13 ||
                        // Home and End
                        key == 35 || key == 36 ||
                        // left and right arrows
                        key == 37 || key == 39 ||
                        // Del and Ins
                        key == 46 || key == 45)
                        return true;

                    return false;
                });
            });
        }
    </script>
