@model ClockUniverse.QLdonHang

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Thêm đơn hàng mới</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <style>
        .col-md-10 {
            width: 80%;
            border-radius: 10px;
        }

    </style>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenDH,"Tên đồng hồ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDH)
                @Html.ValidationMessageFor(model => model.TenDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong,"Số lượng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong)
                @Html.ValidationMessageFor(model => model.SoLuong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia,"Đơn giá", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonGia)
                @Html.ValidationMessageFor(model => model.DonGia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TongTien,"Tổng tiền", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongTien)
                @Html.ValidationMessageFor(model => model.TongTien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh,"Hình ảnh", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnh)
                @Html.ValidationMessageFor(model => model.HinhAnh)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NgayDatHang,"Ngày đặt hàng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDatHang)
                @Html.ValidationMessageFor(model => model.NgayDatHang)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NgayGiaoHang,"Ngày giao hàng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGiaoHang)
                @Html.ValidationMessageFor(model => model.NgayGiaoHang)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="margin-left:35%;margin-top:-1%" type="submit" value="Tạo mới" class="btn btn-success position-absolute" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-sm btn-info" })
</div>
