@model  ClockUniverse.Order_Detail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2 style="text-align:center;color:red">XÁC NHẬN HỦY ĐƠN HÀNG</h2>

<h3></h3>
<div>

    <div class="form-group fa-border " style="border-color:aquamarine; font-family:Arial;font-size: 20px ">
        <table class="table table-striped ">
            <tr>
                <td> Mã đơn hàng</td>
                <td>
                    HD@(Model.Order_ID)
                </td>
            </tr>
            <tr>
                <td> Họ tên khách hàng</td>
                <td>
                    @Model.Order.Customer_Name
                </td>
            </tr>
            <tr>
                <td> Email</td>
                <td>
                    @Model.Order.Customer_Email
                </td>
            </tr>
            <tr>
                <td> SDT</td>
                <td>
                    @Model.Order.Customer_Phone
                </td>
            </tr>
            <tr>
                <td> Địa chỉ</td>
                <td>
                    @Model.Order.Deliver_Address
                </td>
            </tr>
        </table>

    </div>
    <div class="form-group">
        <table class=" table table-bordered">
            <tr style="background-color:orange">
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>

            <tr>
                <td>@Model.ProductTable.Watch_Name</td>
                <td>@Model.Amount</td>
                <td>@Model.ProductTable.Selling_Price.ToString("N0")</td>
                <td>@Model.Price.ToString("N0") </td>
            </tr>


        </table>
    </div>
    <div class="col-lg-offset-10">
       
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index", null, new { @class = " btn btn-warning" })
        </div>
    }
</div>
