@model ClockUniverse.QLdonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

<table class="table table-bordered" style="font-size:14px; font-family:Arial">
    <tr>
        <th>
            Tên đồng hồ
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngaỳ giao
        </th>
        </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.TenDH)
        </td>
        <td>
            @Html.DisplayFor(model => model.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(model => model.DonGia)
        </td>
        <td>
            @Html.DisplayFor(model => model.TongTien)
        </td>
        <td>
            @Html.DisplayFor(model => model.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(model => model.NgayDatHang)
        </td>
        <td>
            @Html.DisplayFor(model => model.NgayGiaoHang)
        </td>




    </tr>
</table>
<p style="margin-left:80%">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID }, new { @class = "btn btn-sm btn-primary" }) |
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-sm btn-info" })
</p>
