@model ClockUniverse.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2 style="text-align:center">CHI TIẾT ĐƠN HÀNG</h2>
<div class="form-group fa-border " style="font-family:Arial;font-size: 20px ;width:50%;margin:auto;margin-bottom:1%">
    <table class="table ">
        <tr>
            <th style="color:blue">Thông tin đơn hàng : #HD) </th>
            <td>(Ngày đặt:)</td>
        </tr>
        <tr style="font-weight:bold; border-top:double">
            <th>Thông tin thanh toán</th>
            <th>Địa chỉ giao hàng</th>
        </tr>
        <tr>
            <td> @Html.Display("CN")</td>
            <td> @Html.Display("CN")</td>
        </tr>
        <tr>
            <td> @Html.Display("CN")</td>
            <td>@Html.Display("CN")</td>
        </tr>
        <tr>
            <td>@Html.Display("CN")</td>
            <td> @Html.Display("CN")</td>
        </tr>

    </table>

</div>
<table class=" table table-bordered">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order_Detail)
        {
            <tr>
                <td>
                    @item.ProductTable.Watch_Name
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.Price
                </td>
                
            </tr>
        }
    </tbody>
</table>
</div>
<div class="col-lg-offset-10">
    Ngày cập nhật :
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", null, new { @class = " btn btn-primary" })
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
</p>
