@model ClockUniverse.QLdonHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Chỉnh sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <style>
        .btn-save {
            color: blue;
            border-color:white;
            background-color:white;
            font-size: 20px;
            font-family:Arial;
            margin-left:40%;
        }
        .col-md-10 {
            width: 80%;
            border-radius: 10px;
        }
        .link {
            color: blue;
            font-size: 20px;
            font-family: Arial;
        }
    </style>
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model=>model.NgayGiaoHang)
        @Html.HiddenFor(model => model.NgayDatHang)
        <div class="form-group">
            @Html.LabelFor(model => model.TenDH,"Tên đồng hồ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDH)
                @Html.ValidationMessageFor(model => model.TenDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong,"Số lượng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong)
                @Html.ValidationMessageFor(model => model.SoLuong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia,"Đơn giá", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonGia)
                @Html.ValidationMessageFor(model => model.DonGia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TongTien,"Tổng tiền", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongTien)
                @Html.ValidationMessageFor(model => model.TongTien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh,"Hình ảnh", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnh)
                @Html.ValidationMessageFor(model => model.HinhAnh)
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn-save" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index", null, new { @class="link"})
</div>
