@model IEnumerable<ClockUniverse.Order_Detail>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_LayoutManage.cshtml";
    }

    <h2>QUẢN LÝ ĐƠN HÀNG</h2>
    <div class="form-group">
        <p>
            @Html.ActionLink("Thêm mới đơn hàng", "Create2", null, new { @class = "btn btn-primary" })
        </p>
    
    
        @using (Html.BeginForm("Index", "OrderManager", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form" }))
        {
            <div class="form-group">
                <input type="text" class="form-control numberinput" placeholder="Nhập id đơn hàng" name="id" value="@ViewBag.SearchTerm" id="search-box">
                <button type="submit" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        }
    </div>
    <div class="form-group">
        <table class="table table-bordered">
            <tr>
                <th>
                    Mã đơn hàng
                <th>
                    Họ tên khách hàng
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Tổng tiền
                </th>
                <th>
                    Tình trạng
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Order_ID
                    </td>
                    <td>
                        @item.Order.Customer_Name
                    </td>
                    <td>
                        @item.Order.Deliver_Address
                    </td>
                    <td>
                        @item.Order.Total_Price
                    </td>
                    <td>
                        @item.Order.Deliver_Status
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id1 = item.Order_ID, id2 = item.Watch_ID }) |
                        @Html.ActionLink("Details", "Details", new { id1 = item.Order_ID, id2 = item.Watch_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id1 = item.Order_ID, id2 = item.Watch_ID })
                    </td>
                </tr>

            }

        </table>
    </div>
