@model IEnumerable<ClockUniverse.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "OrderManager", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nhập id Đơn hàng" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
        <button type="submit" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-search"></i></button>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deliver_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deliver_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_ChangeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deliver_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deliver_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_ChangeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_ID })
        </td>
    </tr>
}

</table>
