@model IEnumerable<ClockUniverse.QLdonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .link{
        color:blue;
    }
    .linkcr {
        color: blue;
        background-color:white;
    }
    
</style>
<h2 style="text-align:center">QUẢN LÝ ĐƠN HÀNG</h2>

<p style="margin-bottom:4%">
    @Html.ActionLink("Thêm đơn hàng", "Create", null, new { @class = "btn btn-success position-absolute" })
</p>
<table class="table table-bordered" style="font-size:14px; font-family:Arial">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên đồng hồ</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Tổng tiền </th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Ngày giao</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
              <tr>
                <th scope="row">1</th>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinhAnh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDatHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGiaoHang)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-primary" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "btn btn-sm btn-info" })
                </td>              
              </tr>
            </tbody>
    }

</table>
