@model IEnumerable<ClockUniverse.Order_Detail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create2")
</p>

@using (Html.BeginForm("Index", "OrderManager", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form" }))
{
    <div class="form-group">
        <input type="text" class="form-control numberinput" placeholder="Nhập id đơn hàng" name="id" value="@ViewBag.SearchTerm" id="search-box">
        <button type="submit" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-search"></i></button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTable.Watch_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTable.Watch_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id1 =item.Order_ID, id2 = item.Watch_ID}) |
            @Html.ActionLink("Details", "Details", new { id1 = item.Order_ID, id2 = item.Watch_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id1 = item.Order_ID, id2 = item.Watch_ID })
        </td>
    </tr>
}

</table>
