@model ClockUniverse.ProductTable

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<style>
    img {
        width: 150px;
        height: 150px
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h2 style="text-align: center; font-weight:bold; font-size: xx-large ">Xóa Sản Phẩm</h2>

<h3>Bạn có chắc chắn muốn xóa sản phẩm?</h3>
<div>
    <h4 style="font-weight: bold">Thông Tin Sản Phẩm.</h4>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Tên Đồng Hồ
                </th>

                <th>
                    Mô Tả Đồng Hồ
                </th>

                <th>
                    Thông Số Đồng Hồ
                </th>

                <th>
                    Giá Niêm Yết
                </th>

                <th>
                    Giá Khuyến Mãi
                </th>

                <th>
                    Số Lượng
                </th>

                <th>
                    Loại Đồng Hồ
                </th>

                <th>
                    Hình Ảnh
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Watch_Name)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Watch_Description)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Watch_Static)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Original_Price)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Selling_Price)
                </td>

                <td>
                    @Html.DisplayFor(model => model.InStock)
                </td>

                <td>
                    @Html.DisplayFor(model => model.ProductType.ProductType_Name)
                </td>

                <td>
                    <img src="@Url.Action("Image", new { id = Model.Watch_ID}) " />
                </td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xóa Sản Phẩm" class="btn btn-default" />
            </div>
            }
    </div>

<div>
    @Html.ActionLink("Trở Về Danh Sách", "Index")
</div>