@model ClockUniverse.QuanLyDH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, th,td{
        border:1px solid black;
        border-collapse: collapse;
    }

    th,td{
        padding: 5px;
        text-align:left;
    }

    h2{
        text-align:center;
        margin-top: 4px;
    }

</style>
<h2>Thông Tin Sản Phẩm</h2>

<div>

<dl>

<table style="width:100%">
        <tr>
            <th>Tên Đồng Hồ</th>
            <td>@Html.DisplayFor(model => model.TenDH)</td>

        </tr>

        <tr>
            <th>Loại Đồng Hồ</th>
            <td>@Html.DisplayFor(model => model.LoaiDH)</td>

        </tr>

        <tr>
            <th>Thông Tin Đồng Hồ</th>
            <td>@Html.DisplayFor(model => model.ThongTinDH)</td>

        </tr>


        <tr>
            <th>Giá Tiền</th>
            <td>@Html.DisplayFor(model => model.GiaTien)</td>

        </tr>


        <tr>
            <th>Số Lượng</th>
            <td>@Html.DisplayFor(model => model.SoLuong)</td>

        </tr>


        <tr>
            <th>Hình Ảnh Đồng Hồ</th>
            <td>@Html.DisplayFor(model => model.HinhAnhDH)</td>

        </tr>

    </table>
</dl>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
