@model ClockUniverse.ProductTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}
<style>
    table, th,td{
        border:1px solid black;
        border-collapse: collapse;
    }

    th,td{
        padding: 5px;
        text-align:left;
    }

    h2{
        text-align:center;
        margin-top: 4px;
    }

</style>
<h2>Thông Tin Sản Phẩm</h2>

<div>
    <h4>ProductTable</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Watch_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Watch_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Watch_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Watch_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Original_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Original_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Selling_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Selling_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType.ProductType_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.ProductType_Name)
        </dd>

    </table>
    </dl>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Watch_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
