@model ClockUniverse.QuanLyDH

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>QuanLyDH</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.TenDH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDH)
                @Html.ValidationMessageFor(model => model.TenDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoaiDH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoaiDH)
                @Html.ValidationMessageFor(model => model.LoaiDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThongTinDH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThongTinDH)
                @Html.ValidationMessageFor(model => model.ThongTinDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnhDH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnhDH)
                @Html.ValidationMessageFor(model => model.HinhAnhDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaTien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaTien)
                @Html.ValidationMessageFor(model => model.GiaTien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong)
                @Html.ValidationMessageFor(model => model.SoLuong)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
