@model IEnumerable<ClockUniverse.ProductTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}
<style>
    img {
        width: 100px;
        height: 50px;
    }

    .img2 {
        width: 0px;
        height: 0px;
    }
  
    h2 {
        text-align: center;
        margin-top: 4px;
    }

</style>

<h2>DANH SÁCH SẢN PHẨM</h2>
<p>
    @Html.ActionLink("Thêm Sản Phẩm", "Create")
</p>
@using (Html.BeginForm("Index", "ProductManager", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form" }))
{
    <div class="form-group">
        <input type="text" class="form-control numberinput" placeholder="Nhập id sản phẩm" name="id" value="@ViewBag.SearchTerm" id="search-box">
        <button type="submit" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-search"></i></button>
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>
            Id
        </th>
        <th>
            Tên Đồng Hồ
        </th>
        <th>
            Mô Tả Đồng Hồ
        </th>
        <th>
            Thông Số Đồng Hồ
        </th>
        <th>
            Giá Niêm Yết
        </th>
        <th>
            Giá Khuyến Mãi
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Loại Đồng Hồ
        </th>
        <th>
            Hình Ảnh Đồng Hồ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Watch_ID
        </td>
        <td>
            @item.Watch_Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Watch_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Watch_Static)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Original_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Selling_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.ProductType_Name)
        </td>
        <td>
            <img src="@Url.Action("Image", new { id = item.Watch_ID }) " />
            <img class="img2" src="@Url.Action("Image1", new { id = item.Watch_ID }) " />
            <img class="img2" src="@Url.Action("Image2", new { id = item.Watch_ID }) " />
        </td>
        <td>
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.Watch_ID }) |
            @Html.ActionLink("Sửa", "Edit", new { id = item.Watch_ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.Watch_ID })
        </td>
    </tr>
    }

</table>
