@model IEnumerable<ClockUniverse.QuanLyDH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Sản Phẩm</h2>

<p>
    @Html.ActionLink("Thêm Sản Phẩm", "Create")
</p>
<table class="table">
    <thead>

        <th>
            Tên Đồng Hồ
        </th>
        <th>
            Loại Đồng Hồ
        </th>
        <th>
            Thông Tin Đồng Hồ
        </th>
        <th>
            Hình Ảnh Đồng Hồ
        </th>
        <th>
            Giá Tiền
        </th>
        <th>
            Số Lượng
        </th>

    </thead>

    @foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>
                @item.TenDH
            </td>
            <td>
                @item.LoaiDH
            </td>
            <td>
                @item.ThongTinDH
            </td>
            <td>
                @item.HinhAnhDH
            </td>
            <td>
                @item.GiaTien.ToString("N0")
            </td>
            <td>
                @item.SoLuong
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    </tbody>
    }

</table>
