@model IEnumerable<ClockUniverse.QuanLyDH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .img {
        border: none;
        max-width: 100%;
        width: 100px;
        height: 100px;
    }

</style>

<h2>Thông Tin Sản Phẩm</h2>

<p>
    @Html.ActionLink("Thêm Sản Phẩm", "Create",null,new { @class = "btn btn-primary"})
</p>
<table class="table">
    <thead>

        <th>
            Tên Đồng Hồ
        </th>
        <th>
            Loại Đồng Hồ
        </th>
        <th>
            Thông Tin Đồng Hồ
        </th>
        <th>
            Hình Ảnh Đồng Hồ
        </th>
        <th>
            Giá Tiền
        </th>
        <th>
            Số Lượng
        </th>

    </thead>

    @foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>
                @item.TenDH
            </td>
            <td>
                @item.LoaiDH
            </td>
            <td>
                @item.ThongTinDH
            </td>
            <td>
                <div class="img">
                    <img src="@Url.Action("Image", new { id = item.ID }) " />
                </div>
                
                
            </td>
            <td>
                @item.GiaTien.ToString("N0") VND
            </td>
            <td>
                @item.SoLuong
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID },new {@class="btn btn-warning " }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-warning " }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-warning " })
            </td>
        </tr>
    </tbody>
    }

</table>
